filebeat.prospectors:
- type: log
  enabled: true
  paths:
    - /home/ubuntu/.pm2/logs/*.log
  include_lines: ['^[[:digit:]]' ]
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false
setup.template.settings:
  index.number_of_shards: 3
name: "server"
tags: ["tag1", "tag2"]
output.logstash:
  hosts: ["loghost:5044"]
